@font-face {
  font-family: "polldaddy";
  src:url("fonts/polldaddy.eot");
  src:url("fonts/polldaddy.eot?#iefix") format("embedded-opentype"),
    url("fonts/polldaddy.ttf") format("truetype"),
    url("fonts/polldaddy.woff") format("woff"),
    url("fonts/polldaddy.svg#polldaddy") format("svg");
  font-weight: normal;
  font-style: normal;

}
