/nbproject/private/
/node_modules/
package-lock.json
yarn.lock
project.xml
project.properties
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json
/deploy/
/vendor/
/tmp/
.vscode

# Testing
/.phpunit.cache/
phpunit.xml
.phpunit.result.cache

# PHPCS
/.phpcs.cache/
phpcs.xml
.phpcs.xml

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess
